<div class="homepage">
    <div class="homepage-heroimage-container">
    </div>

    <div class="homepage-content-container">
        <app-topbar></app-topbar>
        
        <div class="homepgae-mid-container">
            <div class="non_mobile_devices">
                <div class="top-notification-container">
                    <app-notifications style="height: 10vw;"></app-notifications>
                </div>
            </div>

            <div class="hmmessage-container">
                <div class="hm-header">Message From Headmistress</div>
                <div style="padding:5px 10px; overflow: hidden;max-height: 70%;" >
                    “Education is not the learning of facts, but the training of the mind to think.”Albert Einstein Welcome to the website of Air Force School Chabua. As the headmistress of the school, I feel honoured and privileged to be a part of an educational institution where we work at implementing a…
                </div>
                <div class="continue-reading" style="padding:5px 10px" (click)="goToPageWithCategory('Featured Content')">Continue reading</div>
            </div>
        </div>
    
        <div class="homepage-toppost">
            <div class="toppost-box">
                <div class="red-bar"></div>
                <div class="post" (click)="goToPageWithCategory('Top Post 01')">
                    <div class="post-header">Our History</div>
                    <img src="assets/homepage/history.png" width="100%" height="50%" style="margin-left:0.px"/>
                    <div class="post-text">
                        “Education is not the learning of facts, but the training of the mind to think.”Albert Einstein Welcome to the website of Air Force School Chabua.
                    </div>
                </div>
            </div>
            <div class="toppost-box">
                <div class="green-bar"></div>
                <div class="post" (click)="goToPageWithCategory('Top Post 02')">
                    <div class="post-header">Vission & Mission</div>
                    <img src="assets/homepage/mission.png" width="100%" height="50%" style="margin-left:0.px"/>
                    <div class="post-text">
                        “Education is not the learning of facts, but the training of the mind to think.”Albert Einstein Welcome to the website of Air Force School Chabua.
                    </div>
                </div>
            </div>
            <div class="toppost-box">
                <div class="violet-bar"></div>
                <div class="post" (click)="goToPageWithCategory('Top Post 03')">
                    <div class="post-header">Achievements</div>
                    <img src="assets/homepage/comittee.png" width="100%" height="50%" style="margin-left:0.px"/>
                    <div class="post-text">
                        “Education is not the learning of facts, but the training of the mind to think.”Albert Einstein Welcome to the website of Air Force School Chabua.
                    </div>
                </div>
            </div>
        </div>

    </div>

        <div class="homepage-comittee">
            <div class="comittee-header">Management Comittee</div>
            <div class="comittee-list">
                <div class="member">
                    <div class="member-pic">
                        <img src="assets/homepage/Ellipse 1.png" width="60vw" height="60vw" />
                    </div>
                    <div class="member-name"></div>
                    <div class="member-position"></div>
                </div>

                <div class="member">
                    <div class="member-pic">
                        <img src="assets/homepage/Ellipse 2.png" width="60vw" height="60vw" />
                    </div>
                    <div class="member-name"></div>
                    <div class="member-position"></div>
                </div>

                <div class="member">
                    <div class="member-pic">
                        <img src="assets/homepage/Ellipse 3.png" width="60vw" height="60vw" />
                    </div>
                    <div class="member-name"></div>
                    <div class="member-position"></div>
                </div>

                <div class="member">
                    <div class="member-pic">
                        <img src="assets/homepage/Ellipse 4.png" width="60vw" height="60vw" />
                    </div>
                    <div class="member-name"></div>
                    <div class="member-position"></div>
                </div>

                <div class="member">
                    <div class="member-pic">
                        <img src="assets/homepage/Ellipse 5.png" width="60vw" height="60vw" />
                    </div>
                    <div class="member-name"></div>
                    <div class="member-position"></div>
                </div>

                <div class="member">
                    <div class="member-pic">
                        <img src="assets/homepage/Ellipse 6.png" width="60vw" height="60vw" />
                    </div>
                    <div class="member-name"></div>
                    <div class="member-position"></div>
                </div>
            </div>
        </div>

        <div class="homepage-bottom-container">
            <div class="notifiction-container">
                <app-notifications style="height: 40vw;"></app-notifications>
            </div>

            <div class="red-bar-1"></div>

            <div class="contact-us">
                <div class="news-header">Contact Us</div>
                <div class="address">
                    <div>
                        <img src="assets/homepage/address.png" width="10vw" />
                    </div>
                    <div style="margin-left:10px">
                        Air Force School, Chabua
                        P.O.- Chabua Air Field
                        Dist.:Dibrugarh, Pin: 786102
                        Assam, India.
                    </div>
                </div>
                <div class="address">
                    <div>
                        <img src="assets/homepage/phone.png" width="10vw" />
                    </div>
                    <div style="margin-left:10px">
                        +91 7364024752
                    </div>
                </div>
                <div class="address">
                    <div>
                        <img src="assets/homepage/mail.png" width="10vw" />
                    </div>
                    <div style="margin-left:10px">
                        AFSCHABUA@GMAIL.COM
                    </div>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4762.99752378922!2d95.12124298419823!3d27.471653935575723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x373f61f987c0c587%3A0xc5c8cf2da656ea76!2sAir%20force%20station%20chabua!5e0!3m2!1sen!2sin!4v1640622346933!5m2!1sen!2sin" width="80%" height="300" allowfullscreen="" loading="lazy" style="border-radius: 10px;border:0;" class="non_mobile_devices"></iframe>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4762.99752378922!2d95.12124298419823!3d27.471653935575723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x373f61f987c0c587%3A0xc5c8cf2da656ea76!2sAir%20force%20station%20chabua!5e0!3m2!1sen!2sin!4v1640622346933!5m2!1sen!2sin" width="100" height="100" allowfullscreen="" loading="lazy" style="border-radius: 10px;border:0;" class="mobile_only"></iframe>
                <div class="social-links">
                    <img src="assets/homepage/instagram.svg" width="15vw" height="15vw"/>
                    <img src="assets/homepage/facebook.svg"  width="15vw" height="15vw"/>
                    <img src="assets/homepage/twitter.svg"   width="15vw" height="15vw"/>
                    <img src="assets/homepage/linkedin.svg"  width="15vw" height="15vw"/>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="terms-of-use">Terms of Use . Privacy Policy</div>
            <div class="copyright"><img src="assets/homepage/copyright.svg" width="15vw" height="15vw"/><span>2021 Air Force School Chabua</span> </div>
        </div>
</div>