.homepage {
    max-width: 100vw;
    height: auto;
    background-color: #222222;
    box-sizing: border-box;
}

.homepage-heroimage-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 85%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/assets/homepage/history.png");
}

.homepgae-mid-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 16vw;
    width: 100%;
    height: 25vw;
    position: relative;
    z-index: 1;
}

.hmmessage-container {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 80%;
    background-color: white;
    border-radius: 0 0 10px 10px;
    color: #434343;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    font-size: 1.3vw;
    line-height: 1.3vw;
}

.hm-header {
    background-color: #222222;
    width: inherit;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Playfair Display SC;
    font-style: normal;
    font-weight: bold;
    font-size: 2vw;
    line-height: 2vw;
    color: white;
    text-align: justify;
    letter-spacing: 0.095em;
    text-transform: capitalize;
}

.notifiction-container {
    width: 100vw;
}

.news-header {
    background-color: #222222;
    width: inherit;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: Playfair Display SC;
    font-style: normal;
    font-weight: bold;
    font-size: 2vw;
    line-height: 2vw;
    color: white;
    text-align: justify;
    letter-spacing: 0.095em;
    text-transform: capitalize;
}

.continue-reading {
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: 700;
    font-size: 1.3vw;
    line-height: 1.3vw;
    text-align: justify;
    letter-spacing: 0.095em;
    color:#26866d;
    cursor: pointer;
}

.top-notification-container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-top: 15vw;
    justify-content: flex-start;
    align-items: flex-start;
}

.news-header {
    display: flex;
    flex-direction: rows;
    justify-content: space-between;
    width: 100%;
    background-color: inherit ;
    height: 3vw;
}

.homepage-toppost {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 30vw;
    margin-top:8vw;
    position: relative;
    z-index: 1;
}

.toppost-box {
    display: flex;
    width: 80vw;
    height: 100%;

    &:hover {
        filter: brightness(110%);
        cursor: pointer;
    }
}

.red-bar {
    width: 1px;
    height: inherit;
    background-color:#CC4C4C;
}

.green-bar {
    width: 1px;
    height: inherit;
    background-color:#23C56D;
}

.violet-bar {
    width: 1px;
    height: inherit;
    background-color:#8B62FF;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-header {
    font-family: Playfair Display SC;
    font-style: normal;
    font-weight: bold;
    font-size: 2vw;
    line-height: 2vw;
    text-align: justify;
    letter-spacing: 0.095em;
    color: #FFFFFF;
    margin: 1vw;
}

.post-text {
    font-family: Roboto;
    font-style: normal;
    font-size: 1.3vw;
    line-height: 1.3vw;
    letter-spacing: 0.05em;
    text-align: justify;
    text-transform: capitalize;
    color: #FFFFFF;
    margin: 1vw;
}

.homepage-comittee {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5vw;
    min-height: 10vw;
    position: relative;
    z-index: 1;
    background-color:white;
    padding: 10px 50px;

    
}

.comittee-header {
    font-family: Playfair Display SC;
    font-style: normal;
    font-weight: bold;
    font-size: 2vw;
    line-height: 2vw;
    text-align: justify;
    letter-spacing: 0.095em;
    color: #585858;
}

.comittee-list {
    display: flex;
    justify-content: space-around;
    margin-top: 1vw;
    flex-wrap: wrap;
}

.member {
    margin-right: 1vw;
}

.member-pic {
    border-radius: 100%;
}

.homepage-bottom-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px 50px;
    width: 100%;
    min-height:40vw;
    background-color: #222222;
}

.red-bar-1 {
    width: 1px;
    min-height: 40vw;
    background-color: #CC4C4C;
    margin-right: 7vw;
}



.address {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-family: Playfair Display SC;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vw;
    line-height: 1.5vw;
    text-align: justify;
    letter-spacing: 0.095em;
    color: #FFFFFF;
    width: 80%;
    margin-bottom: 1vw;
}

.social-links {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 1vw;
    padding: 0 1vw;
}

.social-links > img {
    cursor: pointer;
}

.footer {
    width: 100%;
    height: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #051120;
    border-top: 10px solid #123962;
    position: relative;
    z-index: 1;
}

.terms-of-use {
    font-family: Roboto;
    font-size: 1.3vw;
    color: white;
}

.copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Roboto;
    font-size: 1vw;
    color: #51565f;
}

.copyright > span {
    margin-right: 1vw;
}