<div class="topbar-content-container">
    <div class="topbar-banner" (click)="navigate('')">
        <img src="assets/homepage/logo.png" width="5%"/>
        <div class="name-and-slogan">
            <div class="name">Air Force School Chabua</div>
            <div class="slogan">Strive For Excellence</div>
        </div>
    </div>

    <div class="topbar-navbar" *ngIf="showNavbar">
        <div class="navbar-link" style="border-radius: 5px 0 0 5px; padding:1vw">Home</div>

        <div class="navbar-link">
            About Us
            <div class="sublink">
                <li class="navbar-links" *ngFor="let link of aboutUsLinks">{{link}}</li>
            </div>
        </div>
        <div class="navbar-link">Facilities
            <div class="sublink">
                <li class="navbar-links" *ngFor="let link of facilitiesLinks">{{link}}</li>
            </div>
        </div>
        <div class="navbar-link">Administration
            <div class="sublink">
                <li class="navbar-links" *ngFor="let link of administrationLinks">{{link}}</li>
            </div>
        </div>
        <div class="navbar-link">Admission
            <div class="sublink">
                <li class="navbar-links" *ngFor="let link of admissionLinks">{{link}}</li>
            </div>
        </div>
        <div class="navbar-link" style="border-radius: 0 5px 5px 0; padding:1vw;">Miscellaneous
            <div class="sublink">
                <li class="navbar-links" *ngFor="let link of miscellaneousLinks">{{link}}</li>
            </div>
        </div>
    </div>
</div>