* {
    box-sizing: border-box;
}

.topbar-content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1vh 5vw;
}

.topbar-banner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.name-and-slogan {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 1%;
}

.name {
    font-family: Playfair Display SC;
    // font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5vw;
    line-height: 2.5vw;
    text-transform: capitalize;
}

.slogan {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 1.5vw;
    color: #000000;
}

.topbar-navbar {
    min-width: 80vw;
    height: 5vw;
    background: #FFFFFF;
    border: 1px solid #CC4C4C;
    border-radius: 5px;
    z-index: 1;
    display: flex;
    margin-top: 3vh;
    align-self: center;
    justify-content: space-between;
}

.navbar-link {
    font-family: 'Libre Franklin', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5vw;
    line-height: 2vw;
    text-align: justify;
    letter-spacing: 0.095em;
    color: #CC4C4C;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1vw 0;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;

    & .sublink {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        overflow: hidden;
        opacity: 0;
        background-color: #222222;
        color: #FFFFFF;
        margin-top: 1.5vw;
        border-radius: 0 0 5px 5px;
    }

    &:hover {
        background-color: #222222;
        color: #FFFFFF;

        .sublink {
            opacity: 1;
            overflow: visible;
        }
    }
}

.navbar-links {
    display: flex;
    justify-content: flex-start;
}