<div class="homepage">
    <div class="homepage-heroimage-container">
        <img src="assets/homepage/hero.png" width="100%"/>
    </div>

    <div class="homepage-content-container">
        <div class="homepage-banner">
            <img src="assets/homepage/logo.png" width="5%"/>
            <div class="name-and-slogan">
                <div class="name">Air Force School Chabua</div>
                <div class="slogan">Strive For Excellence</div>
            </div>
        </div>
    
        <div class="homepage-navbar">
            <div class="navbar-link" style="border-radius: 3px 0 0 3px;">Home</div>
            <div class="navbar-link">About Us</div>
            <div class="navbar-link">Facilities</div>
            <div class="navbar-link">Administration</div>
            <div class="navbar-link">Admission</div>
            <div class="navbar-link" style="border-radius: 0 3px 3px 0">Miscellaneous</div>
        </div>

        <div class="hmmessage-container">
            <div class="hm-header">Message From Headmistress</div>
            <div style="padding:2vw 5vw; overflow: hidden;max-height: 70%;" >
                <i>“Education is not the learning of facts, but the training of the mind to think.”</i><br/>
                -Albert Einstein <br /><br />

                Welcome to the website of Air Force School Chabua. As the headmistress of the school, I feel 
                honoured and privileged to be a part of an educational institution where we work at 
                implementing a well balanced curriculum to ensure that the children who walk into our school 
                will not just love their school years but truly be prepared to face life’s challenges.
                With the onset of the 21st century, the entire world has witnessed an era of intense 
                transformation in all areas. Naturally, for such times, a different skill set that is 21st century skills 
                are required that would enable an individual to cope up and succeed in facing the challenges in 
                real life, leading to his/her holistic progress. We aim to empower our students with these skills 
                so that they can develop holistically and contribute to the progress and development of society, 
                nation and world. <br /><br />

                Learning is complete and holistic only when a student is able to effectively perform and fulfil 
                his/her responsibilities and duties towards self, school, family, society and above all, the nation. 
                So our goal is to enable our students to be a good citizen and a responsible human being who 
                is well aware of his potential and competence.<br /><br />

                We have a team of highly dedicated teachers. The basic objective of our teachers is to improve 
                the learning outcomes of the students. We strive to create inclusive classroom environment 
                where all students, irrespective of their individual abilities and skills are welcomed holistically. 
                Here students are encouraged and motivated to take part in a variety of thinking activities, 
                strategies and group dynamics so that the classroom becomes alive.<br /><br />

                Parental involvement is a significant factor in student’s progress. We seek parents’ support to 
                know more about the child so that we can work together on the child’s strengths and help 
                him/her in the journey to discover himself/herself. Together lets teach them the important values
                like honesty, kindness, generosity, humility, optimism, perseverance, tolerance and more so that 
                they can create a beautiful world around them. Together we can make a difference!<br /><br />

                A committed and supportive management, dedicated teachers, caring and co-operative parents 
                blend harmoniously to create a child centric school. I am very sure through collaborative effort 
                we can achieve more to benefit our students who are the future leaders of tomorrow.<br /><br />

                <strong>With sincere and warm regards,</strong><br />
                <strong>Nuran Hussain</strong><br />
                <strong>Headmistress</strong>
            </div>
        </div>
    </div>

    <div class="homepage-bottom-container">
        <div class="news-marquee-1">
            <div class="news-header">News & Updates</div>
            <marquee behavior="scroll" direction="up" scrollamount="5" >
                <div class="news">
                    <div class="news-header">
                        <div class="news-title">Covid-19 Vaccinations</div>
                        <div class="news-date">27.01.2021</div>
                    </div>
                    <div class="news-text">
                        Covid-19 Vaccination Center at AFS Chabua from 18 Feb 2020
                    </div>

                </div>
                <div class="news">
                    <div class="news-header">
                        <div class="news-title">Covid-19 Vaccinations</div>
                        <div class="news-date">27.01.2021</div>
                    </div>
                    <div class="news-text">
                        Covid-19 Vaccination Center at AFS Chabua from 18 Feb 2020
                    </div>

                </div>
                <div class="news">
                    <div class="news-header">
                        <div class="news-title">Covid-19 Vaccinations</div>
                        <div class="news-date">27.01.2021</div>
                    </div>
                    <div class="news-text">
                        Covid-19 Vaccination Center at AFS Chabua from 18 Feb 2020
                    </div>

                </div>

                <div class="news">
                    <div class="news-header">
                        <div class="news-title">Covid-19 Vaccinations</div>
                        <div class="news-date">27.01.2021</div>
                    </div>
                    <div class="news-text">
                        Covid-19 Vaccination Center at AFS Chabua from 18 Feb 2020
                    </div>

                </div>
                
            </marquee>
        </div>

        <div class="red-bar-1"></div>

        <div class="contact-us">
            <div class="news-header">Contact Us</div>
            <div class="address">
                <div>
                    <img src="assets/homepage/address.png" width="10vw" />
                </div>
                <div style="margin-left:10px">
                    Air Force School, Chabua
                    P.O.- Chabua Air Field
                    Dist.:Dibrugarh, Pin: 786102
                    Assam, India.
                </div>
            </div>
            <div class="address">
                <div>
                    <img src="assets/homepage/phone.png" width="10vw" />
                </div>
                <div style="margin-left:10px">
                    +91 7364024752
                </div>
            </div>
            <div class="address">
                <div>
                    <img src="assets/homepage/mail.png" width="10vw" />
                </div>
                <div style="margin-left:10px">
                    AFSCHABUA@GMAIL.COM
                </div>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5578.685025972904!2d95.12184028091902!3d27.475222906938484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x373f60be0e7f8449%3A0xcb5d92c1a38c998e!2sKENDRIYA%20VIDYALAYA%20AFS%20CHABUA!5e0!3m2!1sen!2sin!4v1639775602568!5m2!1sen!2sin" width="80%" height="300" allowfullscreen="" loading="lazy" style="border-radius: 10px;border:0;" class="non_mobile_devices"></iframe>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5578.685025972904!2d95.12184028091902!3d27.475222906938484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x373f60be0e7f8449%3A0xcb5d92c1a38c998e!2sKENDRIYA%20VIDYALAYA%20AFS%20CHABUA!5e0!3m2!1sen!2sin!4v1639775602568!5m2!1sen!2sin" width="100" height="100" allowfullscreen="" loading="lazy" style="border-radius: 10px;border:0;" class="mobile_only"></iframe>
            <div class="social-links">
                <img src="assets/homepage/instagram.svg" width="15vw" height="15vw"/>
                <img src="assets/homepage/facebook.svg"  width="15vw" height="15vw"/>
                <img src="assets/homepage/twitter.svg"   width="15vw" height="15vw"/>
                <img src="assets/homepage/linkedin.svg"  width="15vw" height="15vw"/>
            </div>
        </div>
    </div>


    <div class="footer">
        <div class="terms-of-use">Terms of Use . Privacy Policy</div>
        <div class="copyright"><img src="assets/homepage/copyright.svg" width="15vw" height="15vw"/><span>2021 Air Force School Chabua</span> </div>
    </div>

</div>