<mat-drawer-container class="admin-container">
  <mat-drawer mode="side" opened class="sidebar">
    <mat-sidenav-container>
      <mat-sidenav-content class="admin-banner">Admin</mat-sidenav-content>
      <mat-sidenav-content class="sidenav-content" (click)="showForm('Homepage')">Homepage</mat-sidenav-content>
      <mat-sidenav-content class="sidenav-content" (click)="showForm('Posts')">Posts</mat-sidenav-content>
      <mat-sidenav-content class="sidenav-content" (click)="showForm('Notifications')">Notifications</mat-sidenav-content>
      <mat-sidenav-content class="sidenav-content" (click)="showForm('Image Upload')">Image Upload</mat-sidenav-content>
      <!-- <mat-sidenav-content class="sidenav-content" (click)="showForm('Site Details')">Site Details</mat-sidenav-content> -->
      <mat-sidenav-content class="sidenav-content" (click)="showForm('Committee Members')">Committee Members</mat-sidenav-content>
    </mat-sidenav-container>
  </mat-drawer>

  <mat-drawer-content class="content">
    <div class="heading">{{formTitle}}</div>

    <div *ngIf="formTitle=='Homepage'">
      <div class="form">
        <mat-accordion>
          <mat-expansion-panel [expanded]="true" (click)="updateCurrentPost('Featured Content')">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Featured Content
              </mat-panel-title>
            </mat-expansion-panel-header>
            
            <div class="input-div">
              <label>Title</label>
              <input type="text" [(ngModel)]="currentPostTitle"/>
            </div>
            
            <div class="editor-container">
                <editor
                [formControl]="currentPostContent"
                [init]="{
                  height: 500,
                  menubar: false,
                  plugins: [
                    'advlist autolink lists link charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste code help wordcount'
                  ],
                  toolbar:
                    'undo redo | formatselect | bold italic backcolor | \
                    alignleft aligncenter alignright alignjustify | \
                    bullist numlist outdent indent table | removeformat | help'
                }"
              ></editor>

              <div class="upload-contaier">
                <input
                    style="display: none"
                    type="file" (change)="selectImageForPost($event)"
                    #image1Input />
                <div class="image-upload-container" (click)="image1Input.click()">
                  <img src="assets/admin/image.png" width="100vw" *ngIf="!currentPostImage&&!imageLoading"/>
                  <div class="lds-facebook" *ngIf="imageLoading"><div></div><div></div><div></div></div>
                  <img [src]="currentPostImage" width="100%" height="90%" *ngIf="currentPostImage" />
                  <p style="color:#666769">Upload Image</p>
                </div>
                
                <input
                    style="display: none"
                    type="file" (change)="selectFileForPost($event)"
                    #file1Input />
                <div class="file-upload-container" (click)="file1Input.click()">
                  <p style="color:#666769">Upload Attachment</p>
                </div>
              </div>
  
            </div>
            
          <div class="submit-btn-holder">
            <div class="submit-btn" (click)="submitHomePagePost('Featured Content')">Submit</div>
          </div>
          </mat-expansion-panel>
        
          <mat-expansion-panel (click)="updateCurrentPost('Top Post 01')">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Top Post #1
              </mat-panel-title>
            </mat-expansion-panel-header>
            
            <div class="input-div">
              <label>Title</label>
              <input type="text" [(ngModel)]="currentPostTitle"/>
            </div>
            
            <div class="editor-container">
              <editor [formControl]="currentPostContent"
              [init]="{
                height: 500,
                menubar: false,
                plugins: [
                  'advlist autolink lists link image charmap print preview anchor',
                  'searchreplace visualblocks code fullscreen',
                  'insertdatetime media table paste code help wordcount'
                ],
                toolbar:
                  'undo redo | formatselect | bold italic backcolor | \
                  alignleft aligncenter alignright alignjustify | \
                  bullist numlist outdent indent table | removeformat | help'
              }"
            ></editor>
            
            <div class="upload-contaier">
              <input
                  style="display: none"
                  type="file" (change)="selectImageForPost($event)"
                  #image1Input />
              <div class="image-upload-container" (click)="image1Input.click()">
                <img src="assets/admin/image.png" width="100vw" *ngIf="!currentPostImage&&!imageLoading"/>
                <div class="lds-facebook" *ngIf="imageLoading"><div></div><div></div><div></div></div>
                <img [src]="currentPostImage" width="100%" height="90%" *ngIf="currentPostImage" />
                <p style="color:#666769">Upload Image</p>
              </div>
              
              <input
                  style="display: none"
                  type="file" (change)="selectFileForPost($event)"
                  #file1Input />
              <div class="file-upload-container" (click)="file1Input.click()">
                <p style="color:#666769">Upload Attachment</p>
              </div>
            </div>
  
            </div>
            
          <div class="submit-btn-holder">
            <div class="submit-btn" (click)="submitHomepagePost('Top Post 01')">Submit</div>
          </div>
          </mat-expansion-panel>
        
          <mat-expansion-panel (click)="updateCurrentPost('Top Post 02')">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Top Post #2
              </mat-panel-title>
            </mat-expansion-panel-header>
            
            <div class="input-div">
              <label>Title</label>
              <input type="text" [(ngModel)]="currentPostTitle"/>
            </div>
            
            <div class="editor-container">
              <editor [formControl]="currentPostContent"
              [init]="{
                height: 500,
                menubar: false,
                plugins: [
                  'advlist autolink lists link image charmap print preview anchor',
                  'searchreplace visualblocks code fullscreen',
                  'insertdatetime media table paste code help wordcount',
                ],
                toolbar:
                  'undo redo | formatselect | bold italic backcolor | \
                  alignleft aligncenter alignright alignjustify | \
                  bullist numlist outdent indent table | removeformat | help'
              }"
            ></editor>
            
            <div class="upload-contaier">
              <input
                  style="display: none"
                  type="file" (change)="selectImageForPost($event)"
                  #image2Input />
              <div class="image-upload-container" (click)="image2Input.click()">
                <img src="assets/admin/image.png" width="100vw" *ngIf="!currentPostImage&&!imageLoading"/>
                <div class="lds-facebook" *ngIf="imageLoading"><div></div><div></div><div></div></div>
                <img [src]="currentPostImage" width="100%" height="90%" *ngIf="currentPostImage" />
                <p style="color:#666769">Upload Image</p>
              </div>
              
              <input
                  style="display: none"
                  type="file" (change)="selectFileForPost($event)"
                  #file2Input />
              <div class="file-upload-container" (click)="file2Input.click()">
                <p style="color:#666769">Upload Attachment</p>
              </div>
            </div>
  
            </div>
            
          <div class="submit-btn-holder">
            <div class="submit-btn" (click)="submitHomepagePost('Top Post 02')">Submit</div>
          </div>
          </mat-expansion-panel>
        
          <mat-expansion-panel (click)="updateCurrentPost('Top Post 03')">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Top Post #3
              </mat-panel-title>
            </mat-expansion-panel-header>
            
            <div class="input-div">
              <label>Title</label>
              <input type="text" [(ngModel)]="currentPostTitle"/>
            </div>
            
            <div class="editor-container">
              <editor [formControl]="currentPostContent"
              [init]="{
                height: 500,
                menubar: false,
                plugins: [
                  'advlist autolink lists link image charmap print preview anchor',
                  'searchreplace visualblocks code fullscreen',
                  'insertdatetime media table paste code help wordcount'
                ],
                toolbar:
                  'undo redo | formatselect | bold italic backcolor | \
                  alignleft aligncenter alignright alignjustify | \
                  bullist numlist outdent indent table | removeformat | help'
              }"
            ></editor>

            <div class="upload-contaier">
              <input
                  style="display: none"
                  type="file" (change)="selectImageForPost($event)"
                  #image3Input />
              <div class="image-upload-container" (click)="image3Input.click()">
                <img src="assets/admin/image.png" width="100vw" *ngIf="!currentPostImage&&!imageLoading"/>
                <div class="lds-facebook" *ngIf="imageLoading"><div></div><div></div><div></div></div>
                <img [src]="currentPostImage" width="100%" height="90%" *ngIf="currentPostImage" />
                <p style="color:#666769">Upload Image</p>
              </div>
              
              <input
                  style="display: none"
                  type="file" (change)="selectFileForPost($event)"
                  #file3Input />
              <div class="file-upload-container" (click)="file3Input.click()">
                <p style="color:#666769">Upload Attachment</p>
              </div>
            </div>
  
            </div>
            
          <div class="submit-btn-holder">
            <div class="submit-btn" (click)="submitHomepagePost('Top Post 03')">Submit</div>
          </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

    <div *ngIf="formTitle=='Posts'">
      <div class="form">
        <mat-accordion>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Create New Post
              </mat-panel-title>
            </mat-expansion-panel-header>
            
            <div class="input-div">
              <label>Title</label>
              <input type="text" [(ngModel)]="currentPostTitle"/>
              <select [(ngModel)]="newPostPage">
                <option disabled selected>Main Menu</option>
                <option>Home</option>
                <option>About Us</option>
                <option>Academics</option>
                <option>Administration</option>
                <option>Admission</option>
                <option>Miscellaneous</option>
              </select>
            </div>
            
            <div class="editor-container">
                <editor
                [formControl]="currentPostContent"
                [init]="{
                  height: 500,
                  menubar: false,
                  plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste code help wordcount'
                  ],
                  toolbar:
                    'undo redo | formatselect | bold italic backcolor | \
                    alignleft aligncenter alignright alignjustify | \
                    bullist numlist outdent indent table | removeformat | help'
                }"
              ></editor>

              <div class="upload-contaier">
                <input
                    style="display: none"
                    type="file" (change)="selectImageForPost($event)"
                    #image4Input />
                <div class="image-upload-container" (click)="image4Input.click()">
                  <img src="assets/admin/image.png" width="100vw" *ngIf="!currentPostImage&&!imageLoading"/>
                  <div class="lds-facebook" *ngIf="imageLoading"><div></div><div></div><div></div></div>
                  <img [src]="currentPostImage" width="100%" height="90%" *ngIf="currentPostImage" />
                  <p style="color:#666769">Upload Image</p>
                </div>
                
                <input
                    style="display: none"
                    type="file" (change)="selectFileForPost($event)"
                    #file4Input />
                <div class="file-upload-container" (click)="file4Input.click()">
                  <p style="color:#666769">Upload Attachment</p>
                </div>
              </div>       
            </div>
            
          <div class="submit-btn-holder">
            <div class="submit-btn" (click)="createNewPostByTitle()">Submit</div>
          </div>
          </mat-expansion-panel>
          <mat-expansion-panel (click)="getPostsToEdit()">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Edit Post
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="input-div">
              <label>Serach Post</label>
              <input #search_text type="text" />
              <img src="assets/admin/search-solid.svg" height="24px" class="search-button" (click)="searchPost(search_text.value)"/>
            </div>

            <div class="search-resultset" *ngIf="!showSearchResults&&!showEditPost">
              <div class="search-result" *ngFor="let post of recentPosts">
                <div style="min-width: 100px;">{{post.title}}</div>
                <div>{{post.date}}</div>
                <div>
                  <img src="assets/admin/external-link.svg" alt="Open" height="15px" style="margin-right: 10px;cursor: pointer;" (click)="navigateToPost(post.title)"/>
                  <img src="assets/admin/edit.svg" alt="Edit" height="15px" style="margin-right: 10px;cursor: pointer;" (click)="editPost(post)"/>
                  <img src="assets/admin/trash.svg" alt="Delete" height="15px" style="cursor: pointer;"/>
                </div>
              </div>
            </div>

            <div class="search-resultset" *ngIf="showSearchResults&&!showEditPost">
              <div class="search-result" *ngIf="searchResult.id">
                <div>{{searchResult.title}}</div>
                <div>{{searchResult.date}}</div>
                <div>
                  <img src="assets/admin/external-link.svg"  alt="Open" height="15px" style="margin-right: 10px;cursor: pointer;" (click)="navigateToPost(searchResult.title)"/>
                  <img src="assets/admin/edit.svg" height="15px" alt="Edit" style="margin-right: 10px;cursor: pointer;" (click)="editPost(searchResult)"/>
                  <img src="assets/admin/trash.svg" height="15px" alt="Delete" style="cursor: pointer;"/>
                </div>
              </div>

              <div class="search-result" *ngIf="!searchResult.id">
                <div>{{searchResult.id}}</div>
                <div>{{searchResult.title}}</div>
                <div>{{searchResult.date}}</div>
              </div>
            </div>
            
            <div class="edit-post" *ngIf="showEditPost">
              <div class="input-div">
                <label>Title</label>
                <input type="text" [(ngModel)]="currentPostTitle"/>
                <select [(ngModel)]="editPostPage">
                  <option disabled selected>Main Menu</option>
                  <option>Home</option>
                  <option>About Us</option>
                  <option>Facilities</option>
                  <option>Administration</option>
                  <option>Admission</option>
                  <option>Miscellaneous</option>
                </select>
              </div>
              
              <div class="editor-container">
                  <editor
                  [formControl]="currentPostContent"
                  [init]="{
                    height: 500,
                    menubar: false,
                    plugins: [
                      'advlist autolink lists link image charmap print preview anchor',
                      'searchreplace visualblocks code fullscreen',
                      'insertdatetime media table paste code help wordcount'
                    ],
                    toolbar:
                      'undo redo | formatselect | bold italic backcolor | \
                      alignleft aligncenter alignright alignjustify | \
                      bullist numlist outdent indent table | removeformat | help'
                  }"
                ></editor>
                
              
                <div class="upload-contaier">
                  <input
                      style="display: none"
                      type="file" (change)="selectImageForPost($event)"
                      #image5Input />
                  <div class="image-upload-container" (click)="image5Input.click()">
                    <img src="assets/admin/image.png" width="100vw" *ngIf="!currentPostImage&&!imageLoading"/>
                    <div class="lds-facebook" *ngIf="imageLoading"><div></div><div></div><div></div></div>
                    <img [src]="currentPostImage" width="100%" height="90%" *ngIf="currentPostImage" />
                    <p style="color:#666769">Upload Image</p>
                  </div>
                  
                  <input
                      style="display: none"
                      type="file" (change)="selectFileForPost($event)"
                      #file5Input />
                  <div class="file-upload-container" (click)="file5Input.click()">
                    <p style="color:#666769">Upload Attachment</p>
                  </div>
                </div> 
    
              </div>
              
            <div class="submit-btn-holder">
              <div class="submit-btn" (click)="submitEditedPost()">Submit</div>
            </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    
    <div *ngIf="formTitle=='Notifications'">
      <div class="form">
        <mat-accordion>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Create New Notification
              </mat-panel-title>
            </mat-expansion-panel-header>
            
            <div class="input-div">
              <label>Title</label>
              <input type="text" [(ngModel)]="currentPostTitle" />
            </div>
            
            <div class="editor-container">
                <editor
                [formControl]="currentPostContent"
                [init]="{
                  height: 500,
                  menubar: false,
                  plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste code help wordcount'
                  ],
                  toolbar:
                    'undo redo | formatselect | bold italic backcolor | \
                    alignleft aligncenter alignright alignjustify | \
                    bullist numlist outdent indent table | removeformat | help'
                }"
              ></editor>
            
            <input
                  style="display: none"
                  type="file" (change)="selectImageForPost($event)"
                  #imageInput />

            <div class="upload-contaier" (click)="imageInput.click()">
              <div class="image-upload-container">
                <img src="assets/admin/image.png" width="100vw"/>
                <p style="color:#666769">Upload Image</p>
              </div>
  
              <div class="file-upload-container">
                <p style="color:#666769">Upload Attachment</p>
              </div>
            </div>
  
            </div>
            
          <div class="submit-btn-holder">
            <div class="submit-btn" (click)="createNewNotification()">Submit</div>
          </div>
          </mat-expansion-panel>
          <mat-expansion-panel (click)="getNotificationsToEdit()">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Edit Notification
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="input-div">
              <label>Serach Notification</label>
              <input #search_text type="text" />
              <img src="assets/admin/search-solid.svg" height="24px" class="search-button" (click)="searchNotification(search_text.value)"/>
            </div>

            <div class="search-resultset" *ngIf="!showSearchResults&&!showEditPost">
              <div class="search-result" *ngFor="let post of recentPosts">
                <div style="min-width: 100px;">{{post.title}}</div>
                <div>{{post.date}}</div>
                <div>
                  <img src="assets/admin/external-link.svg" alt="Open" height="15px" style="margin-right: 10px;cursor: pointer;" (click)="navigateToPost(post.title)"/>
                  <img src="assets/admin/edit.svg" alt="Edit" height="15px" style="margin-right: 10px;cursor: pointer;" (click)="editPost(post)"/>
                  <img src="assets/admin/trash.svg" alt="Delete" height="15px" style="cursor: pointer;"/>
                </div>
              </div>
            </div>

            <div class="search-resultset" *ngIf="showSearchResults&&!showEditPost">
              <div class="search-result" *ngIf="searchResult.id">
                <div>{{searchResult.title}}</div>
                <div>{{searchResult.date}}</div>
                <div>
                  <img src="assets/admin/external-link.svg"  alt="Open" height="15px" style="margin-right: 10px;cursor: pointer;" (click)="navigateToPost(searchResult.title)"/>
                  <img src="assets/admin/edit.svg" height="15px" alt="Edit" style="margin-right: 10px;cursor: pointer;" (click)="editPost(searchResult)"/>
                  <img src="assets/admin/trash.svg" height="15px" alt="Delete" style="cursor: pointer;"/>
                </div>
              </div>

              <div class="search-result" *ngIf="!searchResult.id">
                <div>{{searchResult.id}}</div>
                <div>{{searchResult.title}}</div>
                <div>{{searchResult.date}}</div>
              </div>
            </div>

            <div class="edit-post" *ngIf="showEditPost">
              <div class="input-div">
                <label>Title</label>
                <input type="text" [(ngModel)]="currentPostTitle"/>
              </div>
              
              <div class="editor-container">
                  <editor
                  [formControl]="currentPostContent"
                  [init]="{
                    height: 500,
                    menubar: false,
                    plugins: [
                      'advlist autolink lists link image charmap print preview anchor',
                      'searchreplace visualblocks code fullscreen',
                      'insertdatetime media table paste code help wordcount'
                    ],
                    toolbar:
                      'undo redo | formatselect | bold italic backcolor | \
                      alignleft aligncenter alignright alignjustify | \
                      bullist numlist outdent indent table | removeformat | help'
                  }"
                ></editor>
                
              
              <input
                    style="display: none"
                    type="file" (change)="selectImageForPost($event)"
                    #imageInput />
  
              <div class="upload-contaier" (click)="imageInput.click()">
                <div class="image-upload-container">
                  <img src="assets/admin/image.png" width="100vw"/>
                  <p style="color:#666769">Upload Image</p>
                </div>
    
                <div class="file-upload-container">
                  <p style="color:#666769">Upload Attachment</p>
                </div>
              </div>
    
              </div>
              
            <div class="submit-btn-holder">
              <div class="submit-btn" (click)="submitEditedNotification()">Submit</div>
            </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

    <div *ngIf="formTitle=='Image Upload'">
      <div class="form">
        <mat-panel-title>
          Create New Image Gallery
        </mat-panel-title>
        <div>
          <div class="input-div">
            <label>Gallery Name</label>
            <input type="text" #newImageGalleryName/>
          </div>
        </div>
        <input
                  style="display: none"
                  type="file" (change)="selectImagesForNewImageGallery($event)"
                  multiple
                  #galleryImageInput />

        <div class="upload-container" (click)="galleryImageInput.click()">
          <div class="image-gallery-upload-container" *ngIf="!selectedImagesForGallery">
          </div>

          <div *ngFor="let img of selectedImagesForGallery" style="margin: 10px">
            <img [src]="img" height="150px" />
          </div>
        </div>

        <div class="submit-btn-holder">
          <div class="submit-btn" (click)="createNewImageGallery(newImageGalleryName.value)">Upload</div>
        </div>
      </div>
    </div>

    <div *ngIf="formTitle=='Site Details'">
      <div class="form">
        <mat-panel-title>
          Edit Site Details
        </mat-panel-title>

        <div class="site-details-1">
          <div style="width: 100%;">
            <div class="input-div">
              <label>Title</label>
              <input type="text" />
            </div>
  
            <div class="input-div">
              <label>Tagline</label>
              <input type="text" />
            </div>

            <div class="input-div">
              <label>Contact</label>
              <input type="text" />
            </div>
  
            <div class="input-div">
              <label>Email</label>
              <input type="text" />
            </div>
          </div>
          <div (click)="imageInput.click()">
            <div class="hero-image-upload-container">
              <img src="assets/admin/image.png" width="100vw"/>
                  <p style="color:#666769">Upload Site Background</p>
            </div>
          </div>
        </div>

          <div class="input-div">
            <label>Address</label>
            <input type="text" />
          </div>

          <div class="input-div">
            <label>Map Location</label>
            <input type="text" />
          </div>

          <div class="input-div">
            <label>Instagram</label>
            <input type="text" />
          </div>

          <div class="input-div">
            <label>Twitter</label>
            <input type="text" />
          </div>

          <div class="input-div">
            <label>Facebook</label>
            <input type="text" />
          </div>

          <div class="input-div">
            <label>Linkedin</label>
            <input type="text" />
          </div>

        <div class="submit-btn-holder">
          <div class="submit-btn" (click)="submitHomepagePost()">Submit</div>
        </div>
      </div>
    </div>

    <div *ngIf="formTitle=='Committee Members'">
      <div class="form">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Management Comittee
                
              </mat-panel-title>
            </mat-expansion-panel-header>
  
            <div class="comittee-list-container">
              <div style="display: flex; align-items: center; justify-content: flex-end;">
                <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" (click)="clearMembersList()">
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" (click)="addNewMemberPlaceholder()">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
              
              <div class="comittee-list-item" *ngFor="let member of membersList;let i=index">
                <input
                  style="display: none"
                  type="file" (change)="uploadImageForMember($event, member)"
                  #memberInput />
                <img src="assets/admin/user.png" width="60vw" height="60vw" (click)="memberInput.click()" *ngIf="!member.imageSrc"/>
                <img [src]="member.imageSrc" width="60vw" height="60vw" style="border-radius:50%" (click)="memberInput.click()" *ngIf="member.imageSrc"/>
                <input type="text" placeholder="Name" [(ngModel)]="member.name"/>
                <!-- <selct name="comittee">
                  <option>School Management Committee</option>
                  <option>Disciplinary Committee: Staff</option>
                  <option>Internal Complaints Committee: Sexual Harrassment of Women at Work Place</option>
                  <option>PTA Members</option>
                  <option>Local Purchase Committee Members</option>
                  <option>School Website Committee Members</option>
                  <option>Students Disciplinary Committee</option>
                  <option>Admission COmmittee</option>
                  <option>Committee to implement Students and Teachers Time Table</option>
                  <option>PSCSO Implementation Committee</option>
                </selct> -->
                <input type="text" placeholder="Committee" [(ngModel)]="member.committee"/>
                <input type="text" placeholder="Designation" [(ngModel)]="member.designation"/>
                <input type="text" placeholder="Contact Number" [(ngModel)]="member.contactNumber"/>
                <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" (click)="removeMember(member.id, i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
            
            
            <div class="submit-btn-holder">
              <div class="submit-btn" (click)="submitMembersList()">Submit</div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

  </mat-drawer-content>
</mat-drawer-container>
