<div class="homepage">
    <div class="homepage-heroimage-container">
    </div>

    <div class="homepage-content-container">
        <app-topbar style="position: absolute; top: 10px; z-index: 5;"></app-topbar>

        <div class="hmmessage-container">
            <div class="hm-header" *ngIf="type=='committee'">PROPOSED COMMITTEE FOR THE ACADEMIC SESSION 2021-2022</div>
            <div class="hm-header" *ngIf="type=='staff'">School Staff</div>
            <div *ngIf="showMembers">
                <div class="committee-container" *ngIf="type=='committee'">
                    <div class="committee-name">School Management Committee</div>
                    <div class="members-container">
                        <div *ngFor="let member of schoolManagementCommittee" class="member">
                            <img [src]="member.imageSrc" *ngIf="member.imageSrc" height="70vh" width="70vw" style="border-radius:50%; margin-bottom: 10px" />
                            <img src="assets/admin/user.png" *ngIf="!member.imageSrc" height="70vh" width="70vw" style="border-radius:50%; margin-bottom: 10px" />
                            <span style="font-weight:700">{{member.name}}</span>
                            <span style="font-size:1vw">{{member.designation}}</span>
                            <span style="font-size:1vw">{{member.contactNumber}}</span>
                        </div>
                    </div>
                </div>

                <div class="committee-container" *ngIf="type=='committee'">
                    <div class="committee-name">Disciplinary Committee: Staff</div>
                    <div class="members-container">
                        <div *ngFor="let member of disciplinaryStaff" class="member">
                            <img [src]="member.imageSrc" *ngIf="member.imageSrc" height="70vh" width="70vw" style="border-radius:50%; margin-bottom: 10px" />
                            <img src="assets/admin/user.png" *ngIf="!member.imageSrc" height="70vh" width="70vw" style="border-radius:50%; margin-bottom: 10px" />
                            <span style="font-weight:700">{{member.name}}</span>
                            <span style="font-size:1vw">{{member.designation}}</span>
                            <span style="font-size:1vw">{{member.contactNumber}}</span>
                        </div>
                    </div>
                </div>

                <div class="committee-container" *ngIf="type=='committee'">
                    <div class="committee-name">Internal Complaints Committee: Sexual Harrasment of Women at Work Place</div>
                    <div class="members-container">
                        <div *ngFor="let member of internalComplaints" class="member">
                            <img [src]="member.imageSrc" *ngIf="member.imageSrc" height="70vh" width="70vw" style="border-radius:50%; margin-bottom: 10px" />
                            <img src="assets/admin/user.png" *ngIf="!member.imageSrc" height="70vh" width="70vw" style="border-radius:50%; margin-bottom: 10px" />
                            <span style="font-weight:700">{{member.name}}</span>
                            <span style="font-size:1vw">{{member.designation}}</span>
                            <span style="font-size:1vw">{{member.contactNumber}}</span>
                        </div>
                    </div>
                </div>

                <div class="committee-container" *ngIf="type=='committee'">
                    <div class="committee-name">PTA Members</div>
                    <div class="members-container">
                        <div *ngFor="let member of ptaMembers" class="member">
                            <img [src]="member.imageSrc" *ngIf="member.imageSrc" height="70vh" width="70vw" style="border-radius:50%; margin-bottom: 10px" />
                            <img src="assets/admin/user.png" *ngIf="!member.imageSrc" height="70vh" width="70vw" style="border-radius:50%; margin-bottom: 10px" />
                            <span style="font-weight:700">{{member.name}}</span>
                            <span style="font-size:1vw">{{member.designation}}</span>
                            <span style="font-size:1vw">{{member.contactNumber}}</span>
                        </div>
                    </div>
                </div>

                <div class="committee-container" *ngIf="type=='staff'">
                    <div class="committee-name">Teaching Staff</div>
                    <div class="members-container">
                        <div *ngFor="let member of teachers" class="member">
                            <img [src]="member.imageSrc" *ngIf="member.imageSrc" height="70vh" width="70vw" style="border-radius:50%; margin-bottom: 10px" />
                            <img src="assets/admin/user.png" *ngIf="!member.imageSrc" height="70vh" width="70vw" style="border-radius:50%; margin-bottom: 10px" />
                            <span style="font-weight:700">{{member.name}}</span>
                            <span style="font-size:1vw">{{member.designation}}</span>
                            <span style="font-size:1vw">{{member.contactNumber}}</span>
                        </div>
                    </div>
                </div>

                
                
            </div>
        </div>
    </div>

    <div class="homepage-bottom-container">
        <div class="news-marquee-1">
            <div class="news-header">News & Updates</div>
            <marquee behavior="scroll" direction="up" scrollamount="5" >
                <div class="news">
                    <div class="news-header">
                        <div class="news-title">Covid-19 Vaccinations</div>
                        <div class="news-date">27.01.2021</div>
                    </div>
                    <div class="news-text">
                        Covid-19 Vaccination Center at AFS Chabua from 18 Feb 2020
                    </div>

                </div>
                <div class="news">
                    <div class="news-header">
                        <div class="news-title">Covid-19 Vaccinations</div>
                        <div class="news-date">27.01.2021</div>
                    </div>
                    <div class="news-text">
                        Covid-19 Vaccination Center at AFS Chabua from 18 Feb 2020
                    </div>

                </div>
                <div class="news">
                    <div class="news-header">
                        <div class="news-title">Covid-19 Vaccinations</div>
                        <div class="news-date">27.01.2021</div>
                    </div>
                    <div class="news-text">
                        Covid-19 Vaccination Center at AFS Chabua from 18 Feb 2020
                    </div>

                </div>

                <div class="news">
                    <div class="news-header">
                        <div class="news-title">Covid-19 Vaccinations</div>
                        <div class="news-date">27.01.2021</div>
                    </div>
                    <div class="news-text">
                        Covid-19 Vaccination Center at AFS Chabua from 18 Feb 2020
                    </div>

                </div>
                
            </marquee>
        </div>

        <div class="red-bar-1"></div>

        <div class="contact-us">
            <div class="news-header">Contact Us</div>
            <div class="address">
                <div>
                    <img src="assets/homepage/address.png" width="10vw" />
                </div>
                <div style="margin-left:10px">
                    Air Force School, Chabua
                    P.O.- Chabua Air Field
                    Dist.:Dibrugarh, Pin: 786102
                    Assam, India.
                </div>
            </div>
            <div class="address">
                <div>
                    <img src="assets/homepage/phone.png" width="10vw" />
                </div>
                <div style="margin-left:10px">
                    +91 7364024752
                </div>
            </div>
            <div class="address">
                <div>
                    <img src="assets/homepage/mail.png" width="10vw" />
                </div>
                <div style="margin-left:10px">
                    AFSCHABUA@GMAIL.COM
                </div>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5578.685025972904!2d95.12184028091902!3d27.475222906938484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x373f60be0e7f8449%3A0xcb5d92c1a38c998e!2sKENDRIYA%20VIDYALAYA%20AFS%20CHABUA!5e0!3m2!1sen!2sin!4v1639775602568!5m2!1sen!2sin" width="80%" height="300" allowfullscreen="" loading="lazy" style="border-radius: 10px;border:0;" class="non_mobile_devices"></iframe>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5578.685025972904!2d95.12184028091902!3d27.475222906938484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x373f60be0e7f8449%3A0xcb5d92c1a38c998e!2sKENDRIYA%20VIDYALAYA%20AFS%20CHABUA!5e0!3m2!1sen!2sin!4v1639775602568!5m2!1sen!2sin" width="100" height="100" allowfullscreen="" loading="lazy" style="border-radius: 10px;border:0;" class="mobile_only"></iframe>
            <div class="social-links">
                <img src="assets/homepage/instagram.svg" width="15vw" height="15vw"/>
                <img src="assets/homepage/facebook.svg"  width="15vw" height="15vw"/>
                <img src="assets/homepage/twitter.svg"   width="15vw" height="15vw"/>
                <img src="assets/homepage/linkedin.svg"  width="15vw" height="15vw"/>
            </div>
        </div>
    </div>


    <div class="footer">
        <div class="terms-of-use">Terms of Use . Privacy Policy</div>
        <div class="copyright"><img src="assets/homepage/copyright.svg" width="15vw" height="15vw"/><span>2021 Air Force School Chabua</span> </div>
    </div>

</div>