@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,400&family=Libre+Franklin:wght@100&family=Playfair+Display+SC:wght@400;700&display=swap');

@mixin breakpoint($point) {
    @if $point == desktop {
      @media (min-width: 70em) { @content ; }
   }
    @else if $point == laptop {
      @media (min-width: 64em) { @content ; }
   }
     @else if $point == tablet {
      @media (min-width: 50em) { @content ; }
   }
    @else if $point == phablet {
      @media (min-width: 37.5em)  { @content ; }
   }
   @else if $point == mobileonly {
      @media (max-width: 37.5em)  { @content ; }
 
   }
 }

 .mobile_only {
    @include breakpoint(phablet) {
		display: none;
	}
 }

 .non_mobile_devices {
    @include breakpoint(mobileonly) {
		display: none;
	}
 }

 html {
    font-size: 100%;
    box-sizing: border-box;
 }

 *, *::before, *::after {
    box-sizing: inherit;
 }

 body {
    margin: 0;
    padding: 0;
   line-height: 1.3;
 }

 .input-div {
    display: flex;
    align-items: center;
    margin-bottom: 1vw;
 }

 .input-div > label {
   font-family: Playfair Display SC;
   font-style: normal;
   font-size: 1vw;
   line-height: 1vw;
   text-align: justify;
   letter-spacing: 0.095em;
   text-transform: capitalize;
   margin-bottom: 1vw;
   min-width: 7vw;
 }

 .input-div > input {
    display: flex;
    align-items: center;
    justify-content: center;
   margin-left: 1vw;
   padding: 0.5vw;
   width: 100%; 
 }

 select, option {
   margin-left: 1vw;
   padding: 0.5vw;
   width: 40%; 
   font-size: 1vw;
   line-height: 1vw;
   text-align: justify;
   letter-spacing: 0.095em;
   text-transform: capitalize;
 }

 lightbox {
   z-index: 2;
}