<div class="news-marquee-1" *ngIf="showNotifications">
    <div class="news-header">News & Updates</div>
    <marquee behavior="scroll" direction="up" scrollamount="5" style="height: inherit;" onmouseover="this.stop();" onmouseout="this.start();">
        <div class="news" *ngFor="let notification of notifications">
            <div class="news" (click)="openNotification(notification)">
                <div class="news-header">
                    <div class="news-title">{{notification.title}}</div>
                    <div class="news-date">{{notification.date}}</div>
                </div>
                <div class="news-text" [innerHtml]="notification.content">
                </div>
    
            </div>
        </div>
    </marquee>
</div>